<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" text-center>
          <ion-card>
                  <ion-img style="height: 400px; width:400px; margin:auto !important; margin-top: 20px;" src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/939/2439527939_9b9c2f33-e29d-46a4-a9e9-32f575917a93.png?cb=1574758521"></ion-img>
                  <ion-label style="color: black;">
                    <h1 style="font-weight: bold; margin-top: -50px;"> Kelompok Mobile: Cross Platform </h1>
                    <h2> Septaria Dwi Natapura - 00000012781 </h2>
                    <h2> Grant Matthew Gunawan - 00000012953 </h2>
                    <h2> Yosua Hinarno - 00000012944</h2>
                    <h2 style="margin-bottom: 100px;"> Kevin Ortega - 00000013309</h2>
                </ion-label>
              </ion-card>
            </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
