<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>UMNian</ion-title>
    <ion-buttons slot="end">
      <a [routerLink]="['/profile']"
        ><img
          src="https://cdn2.iconfinder.com/data/icons/user-icon-2-1/100/user_5-15-512.png"
          style="width:50px;height:50px;"
      /></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title></ion-card-title>
            <ion-card-subtitle>
              
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img ></ion-img>
          <ion-card-content>
            <p></p>
          </ion-card-content>
          <div text-right>
            <ion-button>More</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-img ></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2></h2>
              <p></p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

