<ion-header>
  <ion-toolbar>
    <ion-title>UMNian</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card *ngFor='let news of loadedNews' [routerLink]="['./', news.id]">
          <ion-img [src]="news.img"></ion-img>
          <ion-card-content>
            <p>{{ news.title }}</p>
            <p style="font-weight: bold; font-size: 25px">{{ news.content }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card *ngFor="let item of posts" [routerLink]="['./', item.id]">
          <ion-img [src]="item.Img"></ion-img>
          <ion-card-content>
            <p>{{ item.Title }}</p> 
            <p style="font-weight: bold; font-size: 25px">{{ item.Content }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
